
<div class="flex justify-center">
    <div [formGroup]="formSearch" class=" bg-white dark:bg-gray-900 border p-8 mr-4 rounded-lg w-2/3">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" formControlName="keyword" id="table-search" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập thông tin cần tìm kiếm">
          </div>
          <div class="grid grid-cols-4 gap-4 pt-2">
            <div class="col-span-1">
              <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phòng ban</label>
              <select formControlName="departmentCode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option *ngFor="let department of departmentList?.data" [value]="department.code">{{ department.name }}</option>
              </select>
            </div>
           
            <div class="col-span-1">
                <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giới tính</label>
                <select formControlName="genderId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option *ngFor="let gender of genderList?.data" [value]="gender.id">{{ gender.name }}</option>
                </select>
            </div>
            <div class="col-span-1">
                <label for="jobTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chức vụ</label>
                <select formControlName="jobTitleCode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option *ngFor="let jobTitle of jobTitleList?.data" [value]="jobTitle.code">{{ jobTitle.name }}</option>
              </select>
            </div>
            <div class="col-span-1">
                <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Trạng thái</label>
                <select formControlName="statusId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <option *ngFor="let status of statusList?.data" [value]="status.id">{{ status.name }}</option>
                </select>
            </div>
          </div>
          <div class="flex justify-end pt-4 space-x-4">
            <!-- Refresh Button -->
            <button type="button" (click)="resetForm()"  class="flex-shrink-0 text-blue-500 border border-blue-500 py-1 px-4 rounded-lg focus:outline-none">
              Làm mới
            </button>
          
            <!-- Search Button -->
            <button (click)="search()" type="button" class="flex items-center bg-blue-500 text-white py-1 px-4 rounded-lg focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6 mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
              Tìm kiếm
            </button>
          </div>
                    
          
    </div>
    
</div>
<button type="button" (click)="createUser()" class=" bg-blue-500 border text-white py-1 px-4 rounded-lg focus:outline-none">
  Tạo mới
</button>

<div class="mt-4 mr-4">
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th class="px-4 py-3">STT</th>
              <th class="px-4 py-3">Mã nhân viên</th>
              <th class="px-4 py-3">Họ và tên</th>
              <th class="px-4 py-3">Ngày sinh</th>
              <th class="px-4 py-3">Giới tính</th>
              <th class="px-4 py-3">Phòng ban</th>
              <th class="px-4 py-3">Chức vụ</th>
              <th class="px-4 py-3">Trạng thái</th>
              <th class="px-4 py-3">Thao tác</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <tr *ngFor="let user of userList?.data; let i = index " class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-700 dark:text-gray-400">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <td class="px-4 py-3">
                {{i+1}}
              </td>
              <td class="px-4 py-3 text-sm">{{user.employeeCode}}</td>
              <td class="px-4 py-3 text-sm"> {{user.fullname}}</td>
              <td class="px-4 py-3 text-sm">{{formatDate(user.dob)}}</td>
              <td class="px-4 py-3 text-sm">{{user.gender}}</td>
              <td class="px-4 py-3 text-sm">{{user.department}}</td>
              <td class="px-4 py-3 text-sm">{{user.jobTitle}}</td>
              <td class="px-4 py-3 text-sm">{{user.status}}</td>
              <td class="px-4 py-3 text-sm">
                <button (click)="editUser(user)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
        <span class="flex items-center col-span-3"> Showing 21-30 of 100 </span>
        <span class="col-span-2"></span>
        <!-- Pagination -->
        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
          <nav aria-label="Table navigation">
            <ul class="inline-flex items-center">
              <li>
                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple" aria-label="Previous">
                  <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                    <path d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                  </svg>
                </button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">1</button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">2</button>
              </li>
              <li>
                <button class="px-3 py-1 text-white dark:text-gray-800 transition-colors duration-150 bg-blue-600 dark:bg-gray-100 border border-r-0 border-blue-600 dark:border-gray-100 rounded-md focus:outline-none focus:shadow-outline-purple">3</button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">4</button>
              </li>
              <li>
                <span class="px-3 py-1">...</span>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">8</button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">9</button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple" aria-label="Next">
                  <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                    <path d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" fill-rule="evenodd"></path>
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </span>
      </div>
    </div>
    
  </div>
<div *ngIf="showModal" class="fixed z-20 inset-0 bg-gray-500 bg-opacity-20 flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-[800px]"> <!-- Thiết lập chiều rộng là 800px -->
   
  <div class="flex items-center justify-between border-b rounded-t dark:border-gray-600">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Tạo người dùng mới
    </h3>
    <button (click)="cancel()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
    </button>
    </div>
    <div [formGroup]="formUser" class="mx-auto pt-5">
      <div class="grid md:grid-cols-2 md:gap-6">
        <!-- <div class="relative z-0 w-full mb-2 group">
          <label for="employeeCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mã nhân viên <span class="text-red-500">*</span></label>
          <input type="text" formControlName="employeeCode" id="employeeCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập mã nhân viên">
       </div> -->
        <div class="relative z-0 w-full mb-2 group">
          <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Đơn vị<span class="text-red-500">*</span></label>
          <select formControlName="unitCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let unit of unitList?.data" [value]="unit.code">{{ unit.name }}</option>
          </select> 
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Họ và tên <span class="text-red-500">*</span></label>
          <input type="text" formControlName="fullname" id="fullname" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập họ và tên">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phòng ban<span class="text-red-500">*</span></label>
          <select formControlName="departmentCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let department of departmentList?.data" [value]="department.code">{{ department.name }}</option>
          </select>  
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <mat-form-field>
            <mat-label>Ngày sinh</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="jobTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chức vụ<span class="text-red-500">*</span></label>
          <select formControlName="jobTitleCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let jobTitle of jobTitleList?.data" [value]="jobTitle.code">{{ jobTitle.name }}</option>
          </select> 
          </div>
      </div>
        
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giói tính:<span class="text-red-500">*</span></label>
          <select formControlName="genderId" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let gender of genderList?.data" [value]="gender.id">{{ gender.name }}</option>
          </select>   
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vị trí công việc:<span class="text-red-500">*</span></label>
          <select formControlName="positionCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let position of positionList?.data" [value]="position.code">{{ position.name }}</option>
          </select> 
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Số điện thoại <span class="text-red-500">*</span></label>
          <input type="text" formControlName="phone" id="phone" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập số điện thoại">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email <span class="text-red-500">*</span></label>
          <input type="text" formControlName="email" id="email" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập email công ty">
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="cccd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CCCD/CMT <span class="text-red-500">*</span></label>
          <input type="text" formControlName="cccd" id="cccd" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập số CCCD/CMND">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="faceImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">File ảnh nhận diện<span class="text-red-500">*</span></label>
          <input
            type="file"
            accept="image/*" 
            class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="faceImage"
            (change)="addFaceImage($event)"
            [ngClass]="{ 'is-invalid': isSubmit && f.image.errors }"
          />
          <div *ngIf="isSubmit && f.image.errors" class="invalid-feedback">
            <span *ngIf="f.image.errors.required">Please enter your image</span
            ><br />
          </div>
        </div>
      </div>
      <div class="relative z-0 w-full mb-2 group">
        <label for="cccdImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">File ảnh CMND/CCCD <span class="text-red-500">*</span></label>
        <input
        type="file"
        accept="image/*" 
        class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="cccdImage"
        (change)="addCccdImage($event)"
        [ngClass]="{ 'is-invalid': isSubmit && f.image.errors }"
      />
      <div *ngIf="isSubmit && f.image.errors" class="invalid-feedback">
        <span *ngIf="f.image.errors.required">Please enter your image</span
        ><br />
      </div>
      </div>
      <div class="mt-4 flex justify-end">
        <button (click)="resetFormUser()" class="flex-shrink-0 text-blue-500 border border-blue-500 py-1 px-4 rounded-lg focus:outline-none" >Làm mới</button>
        <button (click)="submitUser()" type="button" class="flex items-center bg-green-500 text-white py-1 px-4 rounded-lg focus:outline-none">
          Tạo mới
        </button>
      </div>
    
    </div>
  </div>
 
</div>

<div *ngIf="showModalEdit" class="fixed z-20 inset-0 bg-gray-500 bg-opacity-20 flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-[800px]"> <!-- Thiết lập chiều rộng là 800px -->
   
  <div class="flex items-center justify-between border-b rounded-t dark:border-gray-600">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Tạo người dùng mới
    </h3>
    <button (click)="cancelEdit()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
    </button>
    </div>
    <div [formGroup]="formUser" class="mx-auto pt-5">
      <div class="grid md:grid-cols-2 md:gap-6">
        <!-- <div class="relative z-0 w-full mb-2 group">
          <label for="employeeCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mã nhân viên <span class="text-red-500">*</span></label>
          <input type="text" formControlName="employeeCode" id="employeeCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập mã nhân viên">
       </div> -->
        <div class="relative z-0 w-full mb-2 group">
          <label for="unit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Đơn vị<span class="text-red-500">*</span></label>
          <select formControlName="unitCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let unit of unitList?.data" [value]="unit.code">{{ unit.name }}</option>
          </select> 
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Họ và tên <span class="text-red-500">*</span></label>
          <input type="text" formControlName="fullname" id="fullname" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập họ và tên">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phòng ban<span class="text-red-500">*</span></label>
          <select formControlName="departmentCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let department of departmentList?.data" [value]="department.code">{{ department.name }}</option>
          </select>  
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <mat-form-field>
            <mat-label>Ngày sinh</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="jobTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Chức vụ<span class="text-red-500">*</span></label>
          <select formControlName="jobTitleCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let jobTitle of jobTitleList?.data" [value]="jobTitle.code">{{ jobTitle.name }}</option>
          </select> 
          </div>
      </div>
        
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giói tính:<span class="text-red-500">*</span></label>
          <select formControlName="genderId" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let gender of genderList?.data" [value]="gender.id">{{ gender.name }}</option>
          </select>   
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Vị trí công việc:<span class="text-red-500">*</span></label>
          <select formControlName="positionCode" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option *ngFor="let position of positionList?.data" [value]="position.code">{{ position.name }}</option>
          </select> 
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Số điện thoại <span class="text-red-500">*</span></label>
          <input type="text" formControlName="phone" id="phone" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập số điện thoại">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email <span class="text-red-500">*</span></label>
          <input type="text" formControlName="email" id="email" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập email công ty">
        </div>
      </div>
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-2 group">
          <label for="cccd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CCCD/CMT <span class="text-red-500">*</span></label>
          <input type="text" formControlName="cccd" id="cccd" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nhập số CCCD/CMND">
        </div>
        <div class="relative z-0 w-full mb-2 group">
          <label for="faceImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">File ảnh nhận diện<span class="text-red-500">*</span></label>
          <input
            type="file"
            accept="image/*" 
            class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="faceImage"
            (change)="addFaceImage($event)"
            [ngClass]="{ 'is-invalid': isSubmit && f.image.errors }"
          />
          <div *ngIf="isSubmit && f.image.errors" class="invalid-feedback">
            <span *ngIf="f.image.errors.required">Please enter your image</span
            ><br />
          </div>
        </div>
      </div>
      <div class="relative z-0 w-full mb-2 group">
        <label for="cccdImage" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">File ảnh CMND/CCCD <span class="text-red-500">*</span></label>
        <input
          type="file"
          accept="image/*" 
          class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          formControlName="cccdImage"
          (change)="addCccdImage($event)"
          [ngClass]="{ 'is-invalid': isSubmit && f.image.errors }"
        />
        <div *ngIf="isSubmit && f.image.errors" class="invalid-feedback">
          <span *ngIf="f.image.errors.required">Please enter your image</span
          ><br />
        </div>
      </div>
      <div class="mt-4 flex justify-end">
        <button (click)="resetFormUser()" class="flex-shrink-0 text-blue-500 border border-blue-500 py-1 px-4 rounded-lg focus:outline-none" >Làm mới</button>
        <button (click)="updateUser()" type="button" class="flex items-center bg-green-500 text-white py-1 px-4 rounded-lg focus:outline-none">
          Chỉnh sửa
        </button>
      </div>
    
    </div>
  </div>
 
</div>

