  <!-- logo -->
  <div class="flex items-center justify-center">
    <a class="rounded bg-primary-500 p-2">
      <!-- <svg-icon src="assets/icons/logo.svg" [svgClass]="'h-5 w-5'"> </svg-icon> -->
    </a>
    <b class="text-md pl-3 font-bold text-gray-700 dark:text-white"> Reset password </b>
  </div>
<form [formGroup]="resetPasswordForm"  class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="otp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Nhập OTP bạn vừa mới nhận từ email: </label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="input otp"  type="number" id="otp" formControlName="otp" required>
      <div class="text-red-500" *ngIf="resetPasswordForm.get('otp')?.hasError('required') && resetPasswordForm.get('otp')?.touched">
        OTP is required.
      </div>
    </div>
    <div class="mb-5">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Nhập mật khẩu mới</label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="input your password"  type="password" id="password" formControlName="password" required>
      <div class="text-red-500" *ngIf="resetPasswordForm.get('password')?.hasError('required') && resetPasswordForm.get('password')?.touched">
        New password is required.
      </div>
    </div>
    <div class="mb-5">
      <label for="re-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Nhập lại mật khẩu mới</label>
      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="input your re-password"  type="password" id="re-password" formControlName="rePassword" required>
      <div class="text-red-500" *ngIf="resetPasswordForm.get('rePassword')?.hasError('required') && resetPasswordForm.get('rePassword')?.touched">
       Renew password is required.
      </div>
    </div>
    <div class="text-red-500 pb-5" *ngIf="response.errorCode!=='OK'">
  </div>
    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button" (click)="onSubmit()" [disabled]="!resetPasswordForm.valid">Submit</button>
  </form>
  
  