<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.checkin.mapper.GenderMapper">

    <insert id="createGender">
        insert into gender(name) values (#{name})
    </insert>
    <select id="listGender" resultType="com.checkin.dto.response.GenderResponse">
        select * from gender
    </select>
    <select id="checkGenderExist" resultType="java.lang.Integer">
        select * from gender where name=#{name}
    </select>
</mapper>