<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.checkin.mapper.SettingPasswordMapper">
    <insert id="insertSetting">
        insert into setting_password (min_length,
                                      max_length,
                                      min_number,
                                      min_char,
                                      min_special_char,
                                      time_expire,
                                      created_at,
                                      status_id)
        values (
                #{minLength},
                #{maxLength},
                #{minNumber},
                #{minChar},
                #{minSpecialChar},
                #{timeExpire},
                now(),
                1
               )
    </insert>
    <update id="updateSetting">
        update setting_password
        set status_id = 2,
            updated_at = now()
        where id=#{id};
    </update>
    <select id="getSetting" resultType="com.checkin.dto.response.SettingPasswordResponse">
        select * from setting_password where status_id = 1
    </select>

    <!--    <select id="getSetting">-->
<!--        select * from setting_password where status_id = 1-->
<!--    </select>-->
</mapper>