<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.checkin.mapper.UserMapper">

    <insert id="createUser" parameterType="com.checkin.dto.request.UserRequest">
        insert into users(
            "employee_code",
            "fullname",
            "email",
            "password",
            "avatar",
            "role_id",
            "status_id",
            "gender_id",
            "phone",
            "department_code",
            "unit_code",
            "job_title_code",
            "position_code",
            "cccd",
            "cccd_image",
            "face_image",
            "dob",
            "created_time",
            "updated_time"
        )VALUES(
           #{employeeCode},
           #{fullname},
           #{email},
           #{password},
           #{avatar},
           2,
            1,
            #{genderId},
            #{phone},
            #{departmentCode},
            #{unitCode},
            #{jobTitleCode},
            #{positionCode},
            #{cccd},
            #{cccdImage},
            #{faceImage},
            #{dob},
            now(),
            now()
        )
    </insert>
    <update id="resetPassword">
        update users set password = #{password} where email = #{email}
    </update>
    <update id="updateUser">
        update users set
                         fullname=#{fullname},
                        dob=#{dob},
                        email=#{email},
                        gender_id = #{genderId},
                        phone=#{phone},
                        department_code=#{departmentCode},
                        unit_code=#{unitCode},
                        job_title_code=#{jobTitleCode},
                        position_code=#{positionCode},
                        cccd=#{cccd},
                        cccd_image=#{cccdImage},
                        face_image=#{faceImage},
                        updated_time=Now()
        where employee_code = #{employeeCode}

    </update>
    <update id="deActivateUser" parameterType="com.checkin.dto.request.UserRequest">
        <foreach collection="employeeCodes" item="employeeCode" separator=";">
            UPDATE users
            SET status_id = #{statusId},
                updated_time=Now()
            WHERE employee_code = #{employeeCode}
        </foreach>
    </update>
    <select id="findByEmail" resultType="com.checkin.dto.request.UserRequest">
        select * from users where email = #{email} limit 1
    </select>
    <select id="checkEmailExist" resultType="java.lang.Integer">
        select * from users where email = #{email} limit 1
    </select>
    <select id="totalUser" resultType="Integer">
        SELECT count(*) from users where status_id!=2
    </select>
    <select id="getListUser" resultType="com.checkin.dto.response.UserResponse">
        SELECT  users.*,
                role.name as role,
                status.name as status,
                gender.name as gender,
                department.name as department,
                job_title.name as jobtitle,
                unit.name as unit,
                position.name as position
        FROM users
        LEFT JOIN role ON users.role_id = role.id
        LEFT JOIN status ON users.status_id = status.id
        LEFT JOIN gender ON users.gender_id = gender.id
        LEFT JOIN department ON users.department_code = department.code
        LEFT JOIN job_title ON users.job_title_code = job_title.code
        LEFT JOIN unit ON users.unit_code = unit.code
        LEFT JOIN position ON users.position_code = position.code
        order by updated_time desc
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                LOWER(users.fullname) LIKE CONCAT('%', LOWER(#{keyword}), '%')
                OR users.email LIKE CONCAT('%', #{keyword}, '%')
                OR users.employee_code LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="departmentCode != null and departmentCode != ''">
                AND users.department_code = #{departmentCode}
            </if>
            <if test="genderId != null and genderId != ''">
                AND users.gender_id = #{genderId}
            </if>
            <if test="jobTitleCode != null and jobTitleCode != ''">
                AND users.job_title_code = #{jobTitleCode}
            </if>
            <if test="statusId != null and statusId != ''">
                AND users.status_id = #{statusId}
            </if>
        </where>
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>
    <select id="getNextCode" resultType="com.checkin.dto.response.UserResponse">
        SELECT * FROM users ORDER BY employee_code DESC LIMIT 1
    </select>


</mapper>